.package-image{
    height: 55vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
  .main-head-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-head-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .package-image-history{
    height: 56vh;
    width: 100%;
    object-fit: cover;
    background-position:center;
  }
  .package-image-history-two{
    height: 75vh;
    width: 100%;
    object-fit: cover;
    background-position: center;
  }
  .main-head-right{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  }
  .package-image-history-three{
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
  .package-image-history-four{
    height: 47vh;
    width: 100%;
    object-fit: cover;
  }
  .package-image-last {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  .package-image-last-2{
    height: 100vh;
    width:100%;
    object-fit: fill;
  }
  .package-image-history-1{
    height: 85vh;
    width: 100%;
  }
  .package-image-2{
    height: 50vh;
  }
  .package-image-3{
    height: 50vh;
    width: 100%;
    object-fit: contain;
  }
  .package-image-bank{
    height: 60vh;
    width: 100%;
    object-fit: cover;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-family: 'Georgia';
  }
  
  th {
    background-color: #f2f2f2;
    font-family: 'Georgia';
  }