.destinations-container{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.destination-img-package{
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width:756px){
  .destination-img-package{
    height: 50vh;
  }
}