.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: transparent;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border:1px whitesmoke;
}
.logo img {
    max-width: 130px;
    height: auto; 
}
.logo-img{
    width: 300px;
    height: 100px;
}
.nav-right{
    display: flex;
    align-items: center;
}
.nav-btn {
    background-color: orange;
    color: aliceblue;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    padding: 10px 15px;
}
.nav-logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}
.menu-icon svg{
    display: flex;
    cursor: pointer;
    fill: white;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #F5F5DC;
    background-position: center;
    background-image: url('https://res.cloudinary.com/dl3vc69uw/image/upload/v1704695449/eagle_ebdlcp_t3xchz.jpg');
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
    background-size: cover;
}
.left-content{
    width: 400px;
    height: 150px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
.right-content {
    width: 450px;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: 30px;
    padding: 10px;
}
.qr-code{
    height: 100px;
    width:100px
}
.right-content-flex {
    display: flex;
    flex-direction: column;
}
.menu {
    padding: 20px;
    flex: 1;
}
.search{
    font-family: 'Georgia';
    font-size: 16px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}
.menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}
.list-items{
   list-style: none;
   padding: 0;
   margin: 0;
}
.dest{
    text-decoration: none;
    color: whitesmoke;
}

.nav-buttons{
    font-family: "Georgia";
    font-size: 16px;
}

.menu li {
    margin: 30px;
    font-size: 24px;
    cursor: pointer;
    font-weight: 600;
    font-style: 'Courier New', Courier, monospace;
}
.menu li:hover{
    color: orange;
}
.icons-container{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}

.tag{
    
    font-family: 'Blackadder ITC';
    font-weight: 800;

}
.contact-nav{
    color: whitesmoke;
    font-weight: 400;
    font-size: 24px;
    font-family: "Roboto";
    padding: 20px;
}
.nav-icon{
    padding: 10px;
    width: 40px;
    height: 40px;
    background-color:#FFFFF4;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #F5F5DC;
}

.nav-btn:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}
.nav-input{
    height: 40px;
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    flex: 1;
}

.search-icon {
    margin-right: 10px;
    cursor: pointer;
}

.active{
    color: orange;
}
.nav-buttons.active{
    color: black;
}
@media screen and (max-width:756px) { 
    .overlay{
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        position: absolute;
    }
    .right-content{
        display: none;
    }
    .left-content{
        display: none;
    }
    .logo-img{
        display: none;
    }
    .contact-nav{
        display: none;
    }
    .logo img{
        height: 40px;
        width: 80px;
    }
    .nav-btn{
        font-size: 12px;
    }
    .nav-right{
      flex-direction: row;
    }
    .menu{
        width:100%;
    }
    .nav-buttons{
        font-size: 10px;
        font-weight: 500;
    }
    .menu li{
        font-size: 16px;
    }
}
